#wtd_event_sc_container .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#wtd_event_sc_container .wtd_event_container,
#wtd_event_sc_container .wtd_single_event_container {
    display: block;
    overflow: hidden;
    line-height: 25px;
    margin-bottom: 15px;
    float:left;
    width:100%;
}

#wtd_event_sc_container .textItalic {
    font-style: italic;
}

#wtd_event_sc_container .textItalicSmallSize {
    font-style: italic;
    font-size: 12px;
}

#wtd_event_sc_container .moreCouponLink {
    font-size: 10px;
}

#wtd_event_sc_container .moreCouponLinkBig {
    font-size: 12px;
    text-decoration: underline;
    color: #06F;
}

#wtd_event_sc_container .contactPhone {
    font-size: 12px;
    font-weight: bold;
}

#wtd_event_sc_container .print a {
    padding: 0px 12px;
    border: 1px solid #666;
    background: #CCC;
    display: block;
    color: #000 !important;
    text-decoration: none !important;
    float: right;
    margin-top: 5px;
}

#wtd_event_sc_container .wtd_single_event_sc_left_content ul li .print a {
    float: none;
    width: 50px;
    text-align: center;
    padding: 3px;
    margin: 10px 0;
}

#wtd_event_sc_container .expire,
#wtd_event_sc_container .expireBig {
    font-size: 10px;
    font-style: italic;
    color: #F00;
}

#wtd_event_sc_container .expireBig {
    font-size: 12px;
    color: #999;
}

#wtd_event_sc_container .bigFontLink {
    font-size: 14px !important;
    color: #333;
    font-weight: bold;
    text-decoration: underline !important;
}

#wtd_event_sc_container .wtd_event_container ul,
#wtd_event_sc_container .wtd_single_event_container ul {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

#wtd_event_sc_container .wtd_event_container ul li,
#wtd_event_sc_container .wtd_single_event_container ul li {
    list-style: none;
    line-height: 15px;
    margin-bottom: 10px;
    background: none !important;
}

#wtd_event_sc_container .wtd_single_event_container ul li {
    font-size: 14px;
}

#wtd_event_sc_container .wtd_event_container ul li:first-child,
#wtd_event_sc_container .wtd_single_event_container ul li:first-child {
    line-height: 18px;
    margin-top: 5px;
}

#wtd_event_sc_container .wtd_event_container ul li:last-child {
    margin-top: 0px;
}

#wtd_event_sc_container .wtd_event_container ul li a {
    text-decoration: underline;
    font-weight: bold;
}

#wtd_event_sc_container .wtd_event_sc_event_list {
    display: block;
    margin: 10px;
}

#wtd_event_sc_container .wtd_event_sc_event_list .wtd_event_sc_top_content {
    display: block;
}

#wtd_event_sc_container .wtd_event_sc_imageArea,
#wtd_event_sc_container .wtd_single_event_sc_image {
    display: block;
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 15px;
    margin-top: 7px;
    margin-bottom: 10px;
    line-height: 118px;
}

#wtd_event_sc_container .wtd_event_sc_imageArea img,
#wtd_event_sc_container .wtd_single_event_sc_image img {
    width: 118px;
    margin: 0 auto;
}

#wtd_event_sc_container .wtd_single_event_sc_image {
    width: 100%;
    text-align:center;
}

#wtd_event_sc_container .wtd_event_sc_imageArea img {
    margin: 3px;
}

#wtd_event_sc_container .wtd_event_sc_centerContent,
#wtd_event_sc_container .wtd_single_event_sc_left_content {
    float: left;
    width: 100%;
}

#wtd_event_sc_container .wtd_event_sc_centerContent ul li,
#wtd_event_sc_container .wtd_single_event_sc_left_content ul li{
    background: none !important;
}

#wtd_event_sc_container .wtd_event_sc_pagination {
    margin-top: 10px;
    text-align: center;
}

#wtd_event_sc_container .hr_line {
    border-bottom: 1px solid #666;
    height: 1px;
    margin: 10px 0;
}

#wtd-print-event , #wtd-print-event *{
    margin: 0;
    padding: 0;
}

#wtd-print-event {
    font-family: Verdana,Verdana,Geneva,sans-serif;
}

#wtd-print-event .midbody {
    width: 640px;
    margin: 20px auto;
}

#wtd-print-event .event-block {
    width: 50%;
}

#wtd-print-event .event-content {
    margin: 2px;
    border: 1px solid #999;
    min-height: 150px;
    overflow: hidden;
}

#wtd-print-event .images-container {
    float: left;
}

#wtd-print-event .image-container {
    width: 105px;
    height: 105px;
    margin: 3px 0 0 3px;
    border: 1px solid #000;
}

#wtd-print-event .image-container img{
    width: 100%;
    height: 100%;
}

#wtd-print-event .logo-container {
    float: left;
    width: 100px;
    height: 13px;
    margin: 10px 0 0 5px;
}

#wtd-print-event .logo-container img{
    width: 100%;
    height: 100%;
}

#wtd-print-event .event-text {
    float: left;
    min-height: 137px;
    max-width: 196px;
    margin: 3px 0 0 3px;
}

#wtd-print-event .event-title {
    font-size: 13px;
    font-weight: bold;
    margin: 2px 0 5px 5px;
}

#wtd-print-event .event-desc {
    font-size: 10px;
    color: #333;
    margin: 2px 0 20px 5px;
}

#wtd-print-event .event-valid {
    font-size: 10px;
    font-weight: bold;
    color: #333;
    margin: 2px 0 0px 5px;
}

#wtd-print-event .event-id {
    font-size: 10px;
    font-weight: bold;
    color: #333;
    margin: 2px 0 10px 5px;
}

#wtd-print-event .event-restrictions {
    font-size: 10px;
    font-weight: normal;
    line-height: normal;
    text-align: justify;
    color: #333;
    margin: 2px 5px 10px 5px;
    clear: both;
    font-style: italic;
}

#wtd-print-event .terms-block {

}

#wtd-print-event .terms-heading {
    font-size: 10pt;
    font-weight: bold;
    font-family: Verdana;
    margin: 10px 0 10px 0;
}

#wtd-print-event .terms-hr {
    color: #000;
    background-color: #000;
    height: 4px;
}
#wtd-print-event .terms-content {
    font-size: 10px;
    margin: 10px 0 0 0;
}





#month_container{
    width: 95%;
    margin: 0 auto;
    height: 500px;

}

#month_container .week_container{
    float:left;
    width: 100%;
}

#month_container .week_container .day_container{
    width: calc((100% / 7) - 10px);
    font-size:10px;
    float: left;
    height: 120px;
    overflow: hidden;
    padding: 5px;
    white-space: nowrap !important;
    line-height: 14px;
}

#month_container_header{
    font-size: 14px;
    font-weight: bold;
}

.day_container_header{
    font-size: 11px;
    font-weight: bold;
}

.day_container_header hr{
    margin: 2px 0  0 4px;
}

.today{
    border: 2px dashed #666666;
}

#month_container .week_container .day_container:hover{
    width: calc(100% / 3.5);
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 140px;
    height: 100%;
    max-height: 240px;
    background-color: #c6c6c6;
    float: left;
    z-index: 100;
    position: relative;
    margin-bottom: -120px;
    margin-right: calc((100% / 12) * -1);
    margin-left: calc((100% / 14) * -1);
}
#wtd_events{
	width:100%;
	background: rgba(0, 0, 0, 0.08);
}
#wtd_events #dates .day span{
    width: 100%;
    text-align: center;
    font-size: 12px;
    background: #2E2D2D;
    color: #fff;
    position: relative;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#wtd_events #dates .day .current_date{
	width: 90%;
	float: left;
	font-size: 1vw;
	color: #7A644D;
	padding-left: 5%;
	position: relative;
	margin-left: -5px;
	top: -5px;
	background: transparent;
	text-align: left;
}
#wtd_events #dates .day.type1 img{
	position:absolute;
	top:24px;
	left:0px;
	width:100%;
}
#wtd_events #dates .day.type2 img{
	width:50%;
	float:left;
	position:relative;
}
#wtd_events #dates .day.type3 .small-events a{
	width:100%;
	float:left;
	font-size: 12px;
}

#wtd_events #dates .day.type3{
	min-height:170px;
}

#wtd_events #dates .day.type3 .small-events{
	width:100%;
	float:left;
	display:inline-block;
}
#wtd_events #dates .day {
    width: 13.2%;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 1%;
    float: left;
    position: relative;
    min-height: 149px;
    padding: 0.5%;
    background: #fff;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#wtd_events #dates .day:hover,#wtd_events #dates .day.active {
	background:#2E2D2D;
}
#wtd_events #dates .day:hover .current_date,#wtd_events #dates .day.active .current_date{
	color:#fff;
}
#wtd_events #dates{

	list-style: none;
	display: inline-block;
	width: 100%;
	margin: 0px;
	padding: 0px !important;

}
#events_header{
	width:100%;
	float:left;
	border-bottom:1px solid rgba(119, 119, 119, 0.11);
}
#events_header span{
	width:12%;
	margin-left:2%;
	font-size:1.5vw;
	float:left;
	font-weight:bold;
	text-align:center;
}
.wtd-events-page .site-logo{
	margin-top: 0px;
	margin-left: 31%;
	height:auto;
}
.wtd-events-page .main-content{
	padding: 117px 50px 100px 50px;
	width:85%;
	}
.wtd-events-page .site-main{
	width:85% !important;
	margin-left:15% !important;
}

.wtd_events_modal .control a:hover{
	text-decoration:none;
}
.wtd_events_modal .control a{
	color:rgba(0, 0, 0, 0.54);
	float:right;
	margin: 13px 20px 0px 0px !important;
	text-decoration: none !important;
	padding:0px 10px !important;
}
.wtd_events_modal .control h2{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom:0px;
	font-size:26px;
}
.wtd_events_modal .control{
	margin-left: 5%;
	text-align: right;
	font-weight: bold;
	padding: 5px;
	font-family: Arial;
	display: inline-block;
	border-bottom: 1px solid rgba(119, 119, 119, 0.11);
	margin-bottom: 10px;
	width: 90%;
}
.wtd_events_modal .contents{
	overflow-x:hidden;
	margin-bottom:30px;
	max-height:50vh;
}
.wtd_events_modal{
	position: fixed;
	width: 50vw;
	left:25vw;
	top: 10vh;
	z-index: 999999;
	background: rgb(234,234,234);
	max-height:80vh;
	display:none;
	box-shadow: 1px 1px 12px 0px;
}
.wtd_events_modal a:hover{
	background: rgba(119, 119, 119, 0.11);
}
.wtd_events_modal .contents a{
	width: 15%;
	display: inline-block;
	position: relative;
	margin: 10px 0px 0px 2%;
	border: 1px solid rgba(119, 119, 119, 0.11);
	min-height: 100px !important;
}
.wtd_events_modal .contents a img{
	display: block;
	margin: 0 auto;
	width:100%;
}
.wtd_events_modal .contents a span{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 16px;
	text-align: center;
	width: 100%;
	color: rgba(0, 0, 0, 0.54);
}
#modal_background{
	position: fixed;
	background: rgba(255, 255, 255, 0.5);
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 999998;
	display:none;
}
.wtd_events_modal .wtd_row{
	width:auto;
	display:block;
	margin:0 auto;
	text-align:center;
}
.wtd-events-page .site-description{
	width:auto;
}
.wtd-events-page .entry-category,.wtd-events-page .entry-author{
	display:none;
}
.wtd-events-page .post-entry{
	width:auto;
}
.wtd-events-page #wtd_event_sc_container  #back-to-calendar{
	cursor: pointer;
	font-size: 16px;
}
.wtd-events-page #wtd_event_sc_container  .wtd_single_event_sc_left_content{
	float:left;
	width:100%;
}
.wtd-events-page #wtd_event_sc_container  .wtd_single_event_sc_image{
	width:100%;
	float:left;
}
.wtd-events-page #wtd_event_sc_container  .wtd_single_event_sc_image img{
	display:block;
	margin:0 auto;
}

.wtd-events-page .wtd_single_event_sc_left_content ul li spa#wtd_events #dates .day .current_daten{
	font-size: 16px !important;
}

#wtd_events #dates .day .small-events a{
    text-decoration:none;
}

#wtd_events #dates .day:hover .small-events a, #wtd_events #dates .day.active .small-events a{
	color:#fff !important;
    text-decoration:none;
}

#wtd_events .day:before{
	content:'' !important;
	width:0px !important; 
	height:0px !important;
	padding:0px !important;
	margin:0px !important;
}

#wtd_events .empty_spot{
	float:left;
	width:12%;
	margin-top: 10px;
	margin-left: 1%;
	position: relative;
	padding: 0.5%;
	margin-bottom: 10px;
}

#prev_month:focus,#next_month:focus{
    outline:none !important;
}
#prev_month,#next_month{
	width:20%;
	float:left;
}
.get_month {
    text-decoration: none !important;
    border: none !important;
}
#next_month{
	text-align:right;
	cursor:pointer;
}

#prev_month{
	cursor:pointer;
}

#curent_month form{
    display:inline-block;
    width:auto;
    float: right;
}
#curent_month{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
    float:left;
    width:60%;
    margin-bottom:10px;
}

.wtd_ical_button {
    background: rgba(5, 148, 207, 1)!important;
    color: #fff;
    font-weight: bold;
}

.wtd_ical_button:before {
    content: "+";
    font-size: 23px;
    float: left;
    width: 28%;
}
.wtd_ical_button {
    background: rgba(5, 148, 207, 1)!important;
    color: #fff;
    font-weight: bold;
    min-width: 111px;
    line-height: 12px;
    border: 1px solid rgba(4, 129, 181, 1);
}
.wtd_ical_button:hover {
    background: rgba(4, 129, 181, 1) !important;
    color: #fff;
}

#month_loader img{
	display: block;
	margin: 20px auto;
}
#month_loader span{
	width: 100%;
	text-align: center;
	float: left;
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0px;
}
#month_loader{
	position: fixed;
    z-index: 999999;
	width: 25vw;
    top:25vh;
	left: 37.5vw;
	background: #fff;
	display:none;
	box-shadow: 1px 2px 10px #000;
}
.month_loader{
	display:block !important;
}
.not_month:hover{
	opacity:1;
}
.not_month{
	opacity: 0.7;
}

#wtd_events #dates .day:hover .small-events a:hover{
    color:#222 !important;
    background:#fff;
}

#calendar_controler{
	display:inline-block;
	width:100%;
}

.get_month{
    text-decoration:none !important;
}

.small-events a{
    text-decoration:none !important;
}

.wtd_event_sc_event_list .expireBig{
    font-style:normal !important;
}
.wtd_event_sc_event_list hr{
    display:none !important;
}

@media(min-width:1500px){
	#events_header span{
		font-size:1.1vw;
	}
	#wtd_events #dates .day .current_date{
		font-size:0.7vw;
	}
}

@media(max-width:1400px){
	#wtd_events #dates .day .current_date{
		font-size:1vw;
	}
	#wtd_events #dates .day .current_date{
		font-size:0.9vw;
	}
}

@media (max-width:1240px){
	#events_header span{
		font-size:1.5vw;
	}
	#wtd_events #dates .day .current_date{
		font-size:1.2vw;
	}
}
@media (max-width:1100px){
	.wtd_events_modal{
		width:70vw;
		left:15vw;
	}
}
@media (max-width:1024px){
	.wtd-events-page .site-main{
		width:100% !important;
		margin-left:0 !important;
	}

	.wtd-events-page .main-content{
		float:left !important;
		margin-left:0;
		width:100% !important;
	}
	.wtd-events-page .site-logo{
		margin-left:30px;
		margin-top:4px;
	}
}
@media (max-width:820px){
	#wtd_events #dates .day {
		padding:2px;
	}
	.wtd_events_modal{
		width:90vw;
		left:5vw;
	}
	.wtd_events_modal .control h2{
		font-size:22px;
	}
	#wtd_events #dates .day .current_date{
		font-size:1.3vw;
	}
	
}

@media(max-width:768px){
	#events_header{
		display:none;
	}
	#wtd_events #dates .day{
		width: 97% !important;
		min-height:35px;
	}
	#wtd_events #dates .day .current_date{
		font-size:2.5vw !important;
		text-align:center;
		margin-top:5px;
	}
	#wtd_events .row{
		margin-bottom:0px !important;
	}
	#wtd_events #dates .day.type1{
		min-height:142px !important;
	}
	#wtd_events #dates .day.type1 .main_thumb{
		left:36%;
		width:auto;
	}
	#wtd_events #dates .day.type2{
		min-height:150px !important;
	}
	#wtd_events #dates .day.type2 img{
		width:25%;
		margin:5px 0px;
	}
	
}
