.wtd_event_container{
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.wtd_event_image{
  max-width: 120px;
  max-height: 120px;
}

.wtd_excerpt{

}

.wtd_week_date{
  font-style: italic;
}