
/* These are for web page */
@media only screen and (min-width: 768px) {
	.entry-main{
		padding:0px;
	}
	
	.post-entry{
		margin:0;
	}
	
	.archive-header{
		margin:0;
	}
	
	.site-description{
		width: 180px;
	}
	
	h1.archive-title{
		margin-top:0px;
	}
}

@media only screen and (max-width: 768px) {
	#month_container_header{
		display:none;
	}
}

@media only screen and (max-width: 480px) {
	.site-description{
		display:none;
	}
}


.wtd_listing_container:not(.wtd_page_results){
	width:100%!important;
}

.wtd_listing_sc_top_content{
	border: 1px solid #EEEEEE;
}

.wtd_listing_sc_top_content, .wtd_listing_sc_centerContent{
	margin:0px!important;
	width:100%!important;
}

.wtd_listing_sc_imageArea{
	margin:0 20px 10px 0!important;
	float:left;
}

.wtd_listing_title_bar{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	margin-bottom:0px;
	padding: 5px 10px;
	font-size:15px;
}

.wtd_listing_sc_listing_list{
	background: #FAFAFA;
}

.wtd_listing_sc_centerContent p{
	margin:0px;
	line-height:24px;
	font-size:14px;
}

.wtd_listing_sc_imageArea img{
	margin:8px!important;
}

@media only screen and (max-width: 768px) {
	.wtd_listing_sc_centerContent p{
		padding:20px;
	}
	
	.wtd_listing_sc_imageArea{
		margin-bottom:10px;
	}
}

#wtd_listing_sc_container .clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#wtd_listing_sc_container .wtd_listing_container{
  width: 100%;
	display: block;
	overflow: hidden;
	line-height: 25px;
	margin-bottom: 15px;
	float: left;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
}

#wtd_listing_sc_container .wtd_single_listing_container {
    width: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    line-height: 25px;
    background-color: #fff;
}

#wtd_listing_sc_container .textItalic {
	font-style: italic;
}

#wtd_listing_sc_container .textItalicSmallSize {
	font-style: italic;
	font-size: 12px;
}

#wtd_listing_sc_container .moreCouponLink {
	font-size: 10px;
}

#wtd_listing_sc_container .moreCouponLinkBig {
	font-size: 12px;
	text-decoration: underline;
	color: #06F;
}

#wtd_listing_sc_container .contactPhone {
	font-size: 12px;
	font-weight: bold;
}

#wtd_listing_sc_container .print a {
	padding: 0px 12px;
	border: 1px solid #666;
	background: #CCC;
	display: block;
	color: #000 !important;
	text-decoration: none !important;
	float: right;
	margin-top: 5px;
}

#wtd_listing_sc_container .wtd_single_listing_sc_left_content ul li .print a {
	float: none;
	width: 50px;
	text-align: center;
	padding: 3px;
	margin: 10px 0;
}

#wtd_listing_sc_container .expire,
#wtd_listing_sc_container .expireBig {
	font-size: 10px;
	font-style: italic;
	color: #F00;
}

#wtd_listing_sc_container .expireBig {
	font-size: 15px;
	font-style:normal;
	color: #999;
}

#wtd_listing_sc_container .bigFontLink {
	font-size: 14px !important;
	color: #333;
	font-weight: bold;
	text-decoration: underline !important;
}

#wtd_listing_sc_container .wtd_listing_container ul,
#wtd_listing_sc_container .wtd_single_listing_container ul {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

#wtd_listing_sc_container .wtd_listing_container ul li,
#wtd_listing_sc_container .wtd_single_listing_container ul li {
	list-style: none;
	line-height: 15px;
	margin-bottom: 10px;
    background: none;
}

#wtd_listing_sc_container .wtd_single_listing_container ul li {
	font-size: 14px;
}

#wtd_listing_sc_container .wtd_listing_container ul li:first-child,
#wtd_listing_sc_container .wtd_single_listing_container ul li:first-child {
	line-height: 18px;
	margin-top: 5px;
	min-height:110px;
}

#wtd_listing_sc_container .wtd_listing_container ul li:last-child {
    margin: 0px !important;
}

#wtd_listing_sc_container .wtd_listing_container ul li a {
	text-decoration: underline;
	font-weight: bold;
}
#wtd_listing_sc_container .wtd_listing_sc_listing_list {
    display: block;
    margin: 0 0 10px 0;
    float: left;
    width: 100% !important;
}

#wtd_listing_sc_container .wtd_listing_sc_listing_list .wtd_listing_sc_top_content {
	display: block;
    width: 90%;
    margin: 10px auto;
}

#wtd_listing_sc_container .wtd_listing_sc_imageArea,
#wtd_listing_sc_container .wtd_single_listing_sc_image {
	display: block;
	max-height: 120px;
	margin: 10px auto 10px;
    line-height: 118px;
}

#wtd_listing_sc_container .wtd_listing_sc_imageArea img,
#wtd_listing_sc_container .wtd_single_listing_sc_image img {
	max-height: 100px;
    max-width: 118px;
	margin: 0 auto;
}

#wtd_listing_sc_container .wtd_single_listing_sc_image {
	width: 90%;
    margin: 0 auto;
	height: 160px;
}

#wtd_listing_sc_container .wtd_listing_sc_imageArea img {
	margin: 3px;
}

#wtd_listing_sc_container .wtd_listing_sc_centerContent,
#wtd_listing_sc_container .wtd_single_listing_sc_left_content {
	/*float: left;*/
	/*width: calc(100% - 150px);*/
    /*padding: 0px !important;*/
    width: 90%;
    /*margin-left:5px;*/
    margin: 0 auto;
}

#wtd_listing_sc_container .wtd_listing_sc_pagination {
	margin-top: 10px;
	text-align: center;
    float: left;
    width: 100%;
}

#wtd_listing_sc_container .hr_line {
	border-bottom: 1px solid #666;
	height: 1px;
	margin: 10px 0;
}

.wtd_listing_vendor_hidden{
    display: none;
}

#wtd-print-listing , #wtd-print-listing *{
	margin: 0;
	padding: 0;
}

#wtd-print-listing {
	font-family: Verdana,Verdana,Geneva,sans-serif;
}

#wtd-print-listing .midbody {
	width: 640px;
	margin: 20px auto;
}

#wtd-print-listing .listing-block {
	width: 50%;
}

#wtd-print-listing .listing-content {
	margin: 2px;
	border: 1px solid #999;
	min-height: 150px;
	overflow: hidden;
}

#wtd-print-listing .images-container {
	float: left;
}

#wtd-print-listing .image-container {
	width: 105px;
	height: 105px;
	margin: 3px 0 0 3px;
	border: 1px solid #000;
}

#wtd-print-listing .image-container img{
	width: 100%;
	height: 100%;
}

#wtd-print-listing .logo-container {
	float: left;
	width: 100px;
	height: 13px;
	margin: 10px 0 0 5px;
}

#wtd-print-listing .logo-container img{
	width: 100%;
	height: 100%;
}

#wtd-print-listing .listing-text {
	float: left;
	min-height: 137px;
	max-width: 196px;
	margin: 3px 0 0 3px;
}

#wtd-print-listing .listing-title {
	font-size: 13px;
	font-weight: bold;
	margin: 2px 0 5px 5px;
}

#wtd-print-listing .listing-desc {
	font-size: 10px;
	color: #333;
	margin: 2px 0 20px 5px;
}

#wtd-print-listing .listing-valid {
	font-size: 10px;
	font-weight: bold;
	color: #333;
	margin: 2px 0 0px 5px;
}

#wtd-print-listing .listing-id {
	font-size: 10px;
	font-weight: bold;
	color: #333;
	margin: 2px 0 10px 5px;
}

#wtd-print-listing .listing-restrictions {
	font-size: 10px;
	font-weight: normal;
	line-height: normal;
	text-align: justify;
	color: #333;
	margin: 2px 5px 10px 5px;
	clear: both;
	font-style: italic;
}

#wtd-print-listing .terms-block {
	
}

#wtd-print-listing .terms-heading {
	font-size: 10pt;
	font-weight: bold;
	font-family: Verdana;
	margin: 10px 0 10px 0;
}

#wtd-print-listing .terms-hr {
	color: #000;
	background-color: #000;
	height: 4px;
}
#wtd-print-listing .terms-content {
	font-size: 10px;
	margin: 10px 0 0 0;
}

#listing_gallery_container{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}


#listing_gallery_thumbs_viewport{
    height: 75px;
    max-width: 100%;
    margin: 10px auto;
    overflow-x: auto;
}

#listing_gallery_thumbs{
    height: 50px;
    margin: 0 auto;
}

.wtd_listing_gallery_thm{
    float: left;
    margin-right: 5px;
    max-width: 50px;
    max-height: 50px;
}

.wtd_listing_post li{
    list-style: none;
    list-style-type: none !important;
}

.content-area{
    background-color: #fff;
    padding: 10px;
}

.site-inner .wrap{
    background-color: #fff;
}

.wtd_no_desc_area{
	margin-top: 0.7%;
	color: #000;
	float: left;
}

#wtd_listing_sc_container .wtd_single_listing_sc_image {
	text-align:center;
}

/*
@media only screen and (min-width: 901px) and (max-width: 1800px){

}
*/

@media only screen and (min-width: 0px) and (max-width: 900px){
    #wtd_listing_sc_container .wtd_listing_sc_imageArea,
    #wtd_listing_sc_container .wtd_single_listing_sc_image {
        display: block;
        width: 100%;
        text-align: center;
        height: 120px;
        margin:10px auto;
        line-height: 118px;
    }

    #wtd_listing_sc_container .wtd_single_listing_sc_image {
        width: 100%;
        height: 160px;
    }

    #wtd_listing_sc_container .wtd_listing_sc_centerContent, #wtd_listing_sc_container .wtd_single_listing_sc_left_content{
        width: 100%;
    }

    .wtd_listing_gallery_img{
        max-width: 300px;
        width: 100%;
    }
}

/*****************/
/* WTD Menu Items */
.wtd_parent_menu{
    margin-top: 10px;
    max-width: 100%;
}

/* .wtd_menu{
    text-align: left;
    position: absolute;
    z-index: 1100;
    background-color: #ffffff;
    max-height: 60%;
    overflow-y: auto;
    box-shadow: 3px 3px 4px 4px #999;
    margin-left: 100px !important;
    margin-top: -40px;
} */

.wtd_parent_menu span,
.wtd_subcategory_menu span{
    background: none;
    list-style-type: none !important;
}

.wtd_parent_menu_item{
    width: 100%;
    float: left;
}

/*.wtd_parent_menu_item:hover{*/
    /*background-color: rgba(0, 0, 0, .6);*/
    /*color: #fff;*/
/*}*/

.wtd_menu_item{
    z-index: 1100;
    padding: 5px !important;
}

.wtd_subcategory_menu{
    font-size: 12px;
    width: 20%;
    float: left;
    margin-left: 0px !important;
}

.wtd_subcategory_menu span{
    margin-left: 0px !important;
}

.wtd_subcategory_menu_item{
    min-width: 100%;
    overflow: hidden;
    text-wrap: none;
    margin:0px !important;
}

#wtd-navigator a{
	text-decoration:none !important;
}
#wtd-navigator{
	display:inline-block;
	width:100%;
}
#wtd-navigator .wtd_parent_menu, #wtd-navigator .wtd_contents{
	float:left; 
	width:100%;
	margin: 0px 0px !important;
}
#wtd-navigator .wtd_parent_menu span{
	width: 24%;
	display: inline-block;
	cursor: pointer;
	margin-left: 1%;
	margin-top:5px;
	float:left;
}
#wtd-navigator .wtd_parent_menu span a{
	font-size: 18px;
	padding: 0px 12px;
	font-weight: bold;
	float: left;
	color: #7A644D;
}

#wtd-navigator .wtd_parent_menu span:hover,#wtd-navigator .wtd_parent_menu span.active{
	font-weight:bold;
	color: #fff;
	background: #2E2D2D;
}
#wtd-navigator .wtd_parent_menu span:hover a,#wtd-navigator .wtd_parent_menu span.active a{
	font-weight:bold;color:#fff;
}
#wtd-navigator .active .parent_header_link{
	font-size:16px !important;
	padding: 0px 5px;	
	font-weight:bold; 
	color: #fff !important;
}
#wtd-navigator .wtd_contents div a:hover,#wtd-navigator .wtd_contents div a.active{
	background: rgba(0, 0, 0, 0.41) ;
	color: #fff ;
}
#wtd-navigator .wtd_contents div a{
	color: #7A644D;
	font-size: 15px ;
	padding: 0px 5px;
}
#wtd-navigator .wtd_contents .wtd_menu{
	margin-top: 10px;
	background: rgba(0, 0, 0, 0.08);
	padding: 10px 0px;
	display: none;
	float: left;
	list-style:none;
	width:100%;
	margin: 30px 0px !important; 
	
}
#wtd-navigator .wtd_contents div span{
	width:23%;
	float:left;
	padding:0px !important;
	margin-left: 10px;
}
#wtd-navigator .wtd_menu_item a{
	margin-right: 5px;
	font-size: 17px ;
}

.wtd-listing-page .site-main{
	width:90%;
	margin-left:10%;
}

.wtd-listing-page .main-content{
	float:left !important;
	margin-left:17%;
	width:83% !important;
}

.wtd-listing-page .post-entry{
	width:100%;
}

#wtd-navigator #results_container{
	float:left;
	width: 100%;
}

.wtd-listing-page #results_container .wtd_listing_container .wtd_listing_sc_top_content {
	border: 1px solid rgba(0, 0, 0, 0.38);
}
.wtd-listing-page #results_container .wtd_listing_container .wtd_listing_title_bar{
	background: rgba(0, 0, 0, 0.38);
	padding: 10px;
	color: #fff;
}
.wtd-listing-page #results_container .wtd_listing_container .wtd_listing_title_bar a{
	color:#fff;
	font-size: 23px;
	letter-spacing: 1px;
}
.wtd-listing-page #results_container .wtd_listing_sc_imageArea{
	
	max-height: 120px;
	float: left;
	margin: 14px 10px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	padding-right: 10px;
}
.wtd-listing-page #results_container .wtd_listing_sc_centerContent p{
	font-size:15px;
}
.wtd-listing-page #results_container .wtd_listing_sc_centerContent{
	float: left;
	/* width: calc(100% - 150px); */
	/* padding: 0px !important; */
	width: 82%;
	/* margin-left: 5px; */
	margin: 0 auto;
	font-weight: bold;
	font-size: 22px;
}
.wtd-listing-page #results_container .wtd_listing_container{
	float: left;
	width: 100%;
}
.wtd-listing-page .archive-title,.wtd-listing-page .entry-meta{
	display:none;
}
.wtd-listing-page .site-logo{
	margin-left:29%;
}
.wtd-listing-page .entry-main{
	padding-left:0px !important;
}
#wtd_message img{
	display: block;
	margin:0 auto;
	width:auto;
}
#wtd_message{
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	margin: 88px 0px;
	display: none;
	width: 100%;
	float: left;
}

.wtd_contents .child_cat{
	float:left;
	width:100%;
}
.wtd_contents .wtd_menu{
	margin-top:30px;
}


#wtd-navigator span:not(.wtd_listing_comma):not(.wtd_listing_dash):before{
	content:'' !important;
	width:0px !important; 
	height:0px !important;
	padding:0px !important;
	margin:0px !important;
}

.wtd_subcategory_navigator{
	padding: 0px;
	border: 1px solid rgb(199, 193, 193);
	border-radius: 0px;
	background: #fff;
	float:left;
    width:auto !important;
}

.wtd_row{
	float:left;
	width:100%;
	display:inline-block;
	clear:both;
}
.left_menu_map #map_canvas{
    margin-top:0px !important;
}
.left_menu_map{
    float:left;
    width:75%;
    margin-left:2%;
}

#wtd_act_gallery{
    float: left;
    width: 100%;
    display: inline-block;
}

#wtd_gallery_big img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto !important;
}

#wtd_gallery_big {
    margin: 15px auto !important;
    display: inline-block;
    width: 100%;
}

#wtd_gallery_nav {
    text-align: center;
    overflow-x: auto;
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 90%;
    text-align: center;
    white-space: nowrap;
}

#wtd_gallery_nav img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

#wtd_gallery_prevnext a{
    text-decoration:none !important;
}
#wtd_gallery_prevnext{
    text-align: right;
    display: inline-block;
    width: 90%;
    margin-top: 17px;
}

#wtd_act_gallery a {
    outline: none !important;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none !important;
    border: none !important;
}

.wtd_single_listing_sc_left_content p {
    margin-bottom: 5px;
}

#wtd_video_holder {
    float:left;
    width:100%;
    display:inline-block;
    margin:15px 0px;
}

#wtd_video_player {
    display: block;
    margin: 0 auto;
    width: 640px;
    max-width: 100%;
}


.wtd_ical_button {
    background: rgba(5, 148, 207, 1)!important;
    color: #fff;
    font-weight: bold;
    float: right;
    margin-bottom: 10px;
    margin-right: 20px;
}

.wtd_ical_button:before {
    content: "+";
    font-size: 23px;
    float: left;
    width: 28%;
}
.wtd_ical_button {
    background: rgba(5, 148, 207, 1)!important;
    color: #fff;
    font-weight: bold;
    min-width: 111px;
    line-height: 12px;
    border: 1px solid rgba(4, 129, 181, 1);
}
.wtd_ical_button:hover {
    background: rgba(4, 129, 181, 1) !important;
    color: #fff;
}

@media (max-width: 1600px){
	#wtd-navigator .wtd_contents div{
		margin:0px;
		margin-top:16px;
	}
}
@media (max-width: 1410px){
.wtd-listing-page #results_container .wtd_listing_sc_centerContent{
	width:72%;
}
}
@media (max-width: 1300px){
	
	#wtd-navigator .wtd_parent_menu span{
		width:22%;
		text-align:left;
	}	
	.wtd-listing-page .wtd_listing_sc_top_content {
		width:100%;
	}
}
@media (max-width: 1024px){
	#wtd-navigator .wtd_contents div span{
		width:30%;
		
	}
	.wtd-listing-page .wtd_listing_sc_centerContent div{
		width: 100%;
	}
	.wtd-listing-page #results_container .wtd_listing_sc_imageArea img{
		display: block;
		margin: 0 auto;
	}
	.wtd-listing-page #results_container .wtd_listing_sc_imageArea{
		border-right:none;
		width: 100%;
		float: left;
		max-width: 100%;
	}
	.wtd-listing-page .site-main{
		width:100%;
		margin-left:0;
	}

	.wtd-listing-page .main-content{
		float:left !important;
		margin-left:0;
		width:100% !important;
	}
	.wtd-listing-page .site-logo{
		margin-left:30px;
		margin-top:4px;
	}
	.wtd-listing-page .wtd_listing_container{
		margin-top: 15px;
		width: 100%;
	}
	.wtd-listing-page #results_container .wtd_listing_sc_centerContent{
		width: 95%;
		display: block;
		margin: 0 auto;
		float: none;
	}
}
@media (max-width:870px){
	#wtd-navigator .wtd_contents div span{
		width:47%;
	}
	.wtd-listing-page #results_container .wtd_listing_sc_centerContent{
		width: 95%;
		display: block;
		margin: 0 auto;
		float: none;
	}
}


.wtd_listing_title_bar{
	text-align:center;
}
.wtd_listing_container.wtd_page_results{
	width:75% !important;
	float:right !important;
}

.wtd_subcategory_menu_item.active{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

 }
.wtd_subcategory_menu_item.active a{
	text-decoration: none;
}

.wtd_subcategory_menu_item a{
	font-size:16px;
}

#wtd_breadcrumb{
	min-height:40px;
}

.wtd_thumb_row{
	float:left;
	width:100%;
	clear:both;
}
.wtd_listing_gallery_img img{
	max-width:100%;
}
.wtd_listing_gallery_img{
	margin-top:25px;
	float: left;
	width: 23%;
	margin-left: 1%;
	overflow-y: hidden;
}

.result_address{
	float: left;
	width: 100%;
	text-align: center;
}

[class*="wtd_"] ul li:before{
    content:'' !important;
}
[class*="wtd_"] ul{
    list-style:none !important;
}
.wtd_listing_sc_pagination{
	width: 100%;
	float: left;
	text-align: center;
}


#month_loader img{
	display: block;
	margin: 20px auto;
}
#month_loader span{
	width: 100%;
	text-align: center;
	float: left;
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0px;
}
#month_loader{
    top: 14vh;
	position: fixed;
	z-index: 9999;
	width: 25vw;
	left: 37.5vw;
	background: #fff;
	display:none;
	box-shadow: 1px 2px 10px #000;
}
.month_loader{
	display:block !important;
}
#modal_background{
	position: fixed;
	background: rgba(255, 255, 255, 0.5);
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 99;
	display:none;
}
a.wtd_booking_button:hover {
    color:#fff !important;
    box-shadow: 0px 0px 1px 0px #000 !important;
}
a.wtd_booking_button {
    float: right;
    padding: 8px 29px;
    background: rgb(24, 188, 26);
    text-decoration: none !important;
    text-shadow: none;
    margin: 10px;
    color: #fff !important;
    box-shadow: 0px 0px 1px 0px;
}

.wtd_category_dropdown{
    float:left;
    width:80%;
    margin-left:10%;
    margin-bottom:15px;
}

.wtd_category_dropdown{
    display:none;
}

.wtd_week_date{
    clear:both;
    text-align:center;
    font-weight:bold;
    font-style: italic;
    margin-bottom:10px;
}

#wtd_direction_display[src]{
    float:left;
    width:100%;
    height:300px;
    margin-bottom:20px;
}

.wtd_iframe {
    float: left;
    width: 100%;
    display: inline-block;
    margin: 10px 0px;
}

.wtd_iframe iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media (max-width: 769px){
    #wtd-navigator .wtd_parent_menu span{
        width:47%;
    }
    #wtd-navigator .wtd_contents div span{
        width:44%;
    }
    .wtd_parent_menu,.wtd_menu{
        display:none !important;
    }

    #wtd_parent_dropdown{
        display:block;
    }

}
@media (max-width: 680px){
    .wtd-listing-page .site-logo{
        margin-top: 0px;
        margin-left: 10px;
        width: 80%;
        float:left;
    }
    #wtd_listing_sc_container .wtd_listing_sc_listing_list .wtd_listing_sc_top_content{
        display: block;
        width: 97%;
        margin: 10px auto;
    }
    #wtd_listing_sc_container .wtd_listing_sc_listing_list{
        margin:0px;
    }
}
@media (max-width: 580px){
    #wtd-navigator .wtd_parent_menu span{
        width:96%;
        text-align:center;
    }
    #wtd-navigator .wtd_parent_menu{
        max-height:145px;
        overflow-x: hidden;
        overflow-y:auto;
        margin:0px;
        margin-top:30px;
    }
    #wtd-navigator .wtd_contents div span{
        width:100%;
        text-align:center;
    }

}
