#wtd_footer{
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    margin-top: 15px;
    float:left;
}

#wtd_footer .wtd_footer_left{
    float: left;
    max-width: 48%;
}

#wtd_footer .wtd_footer_right{
    float: right;
    max-width: 48%;
}