#wtd-navigator a{
	text-decoration:none !important;
}
#wtd-navigator{
	display:inline-block;
	padding:15px;
}
#wtd-navigator .wtd_parent_menu, #wtd-navigator .wtd_contents{
	float:left; 
	width:100%;
}
#wtd-navigator .wtd_parent_menu li{
	width: auto;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	margin-top:5px;
}
#wtd-navigator .wtd_parent_menu li a{
	font-size: 18px !important;
	padding: 0px 12px;
	font-weight: bold;
	color: #7A644D;
}

#wtd-navigator .wtd_parent_menu li:hover,#wtd-navigator .wtd_parent_menu li.active{
	font-weight:bold;
	color: #fff !important;
	background: #2E2D2D !important;
}
#wtd-navigator .wtd_parent_menu li:hover a,#wtd-navigator .wtd_parent_menu li.active a{
	font-weight:bold;color:#fff;
}
#wtd-navigator .active .parent_header_link{
	font-size:16px !important;
	padding: 0px 5px;	
	font-weight:bold; 
	color: #fff !important;
}
#wtd-navigator .wtd_contents ul a:hover,#wtd-navigator .wtd_contents ul a.active{
	background: rgba(0, 0, 0, 0.41) !important;
	color: #fff !important;
}
#wtd-navigator .wtd_contents ul a{
	color: #7A644D;
	font-size: 15px !important;
	padding: 0px 5px;
}
#wtd-navigator .wtd_contents ul{
	margin-top: 10px;
	background: rgba(0, 0, 0, 0.08);
	padding: 10px 0px;
	display: none;
	float: left;
	list-style:none;
	width:100%;
	
}
#wtd-navigator .wtd_contents ul li{
	width:23%;
	float:left;
	padding:0px !important;
	margin-left: 10px;
}
#wtd-navigator .wtd_menu_item a{
	margin-right: 5px;
	font-size: 17px !important;
}

.wtd-listing-page .site-main{
	width:90%;
	margin-left:10%;
}

.wtd-listing-page .main-content{
	float:left !important;
	margin-left:17%;
	width:83% !important;
}

.wtd-listing-page .post-entry{
	width:100%;
}
.wtd-listing-page #results_container .wtd_listing_container .wtd_listing_sc_top_content {
	border: 1px solid rgba(0, 0, 0, 0.38);
}
.wtd-listing-page #results_container .wtd_listing_container .wtd_listing_title_bar{
	background: rgba(0, 0, 0, 0.38);
	padding: 10px;
	color: #fff;
}
.wtd-listing-page #results_container .wtd_listing_container .wtd_listing_title_bar a{
	color:#fff;
	font-size: 23px;
	letter-spacing: 1px;
}
.wtd-listing-page #results_container .wtd_listing_sc_imageArea{
	
	max-height: 120px;
	float: left;
	margin: 14px 10px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	padding-right: 10px;
}
.wtd-listing-page #results_container .wtd_listing_sc_centerContent p{
	font-size:15px;
}
.wtd-listing-page #results_container .wtd_listing_sc_centerContent{
	float: left;
	/* width: calc(100% - 150px); */
	/* padding: 0px !important; */
	width: 82%;
	/* margin-left: 5px; */
	margin: 0 auto;
	font-weight: bold;
	font-size: 22px;
}
.wtd-listing-page #results_container .wtd_listing_container{
	float: left;
	width: 100%;
}
.wtd-listing-page .archive-title,.wtd-listing-page .entry-meta{
	display:none;
}
.wtd-listing-page .site-logo{
	margin-left:29%;
}
.wtd-listing-page .entry-main{
	padding-left:0px !important;
}
#wtd_message img{
	display: block;
	margin:0 auto;
	width:auto;
}
#wtd_message{
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	margin: 88px 0px;
	display: none;
	width: 100%;
	float: left;
}

.wtd_contents ul{
	margin-top:30px;
}


#wtd-navigator li:before{
	content:'' !important;
	width:0px !important; 
	height:0px !important;
	padding:0px !important;
	margin:0px !important;
}

@media (max-width: 1600px){
	#wtd-navigator .wtd_parent_menu li{
		width:17%;
		text-align:left;
	}
	#wtd-navigator .wtd_parent_menu li a,#wtd-navigator .wtd_parent_menu li :hover a,#wtd-navigator .wtd_parent_menu li.active a {
		font-size:15px !important;
	}
	#wtd-navigator .wtd_contents ul{
		max-height:145px;
		overflow-x: hidden;
		overflow-y:auto;
		margin:0px;
		margin-top:16px;
	}
}
@media (max-width: 1410px){
.wtd-listing-page #results_container .wtd_listing_sc_centerContent{
	width:72%;
}
}
@media (max-width: 1300px){
	
	#wtd-navigator .wtd_parent_menu li{
		width:22%;
		text-align:left;
	}	
	.wtd-listing-page .wtd_listing_sc_top_content {
		width:100%;
	}
}
@media (max-width: 1024px){
	#wtd-navigator .wtd_contents ul li{
		width:30%;
		
	}
	.wtd-listing-page .wtd_listing_sc_centerContent ul{
		width: 100%;
	}
	.wtd-listing-page #results_container .wtd_listing_sc_imageArea img{
		display: block;
		margin: 0 auto;
	}
	.wtd-listing-page #results_container .wtd_listing_sc_imageArea{
		border-right:none;
		width: 100%;
		float: left;
		max-width: 100%;
	}
	.wtd-listing-page .site-main{
		width:100%;
		margin-left:0;
	}

	.wtd-listing-page .main-content{
		float:left !important;
		margin-left:0;
		width:100% !important;
	}
	.wtd-listing-page .site-logo{
		margin-left:30px;
		margin-top:4px;
	}
	.wtd-listing-page .wtd_listing_container{
		margin-top: 15px;
		width: 100%;
	}
	.wtd-listing-page #results_container .wtd_listing_sc_centerContent{
		width: 95%;
		display: block;
		margin: 0 auto;
		float: none;
	}
}
@media (max-width:870px){
	#wtd-navigator .wtd_contents ul li{
		width:47%;
	}
	.wtd-listing-page #results_container .wtd_listing_sc_centerContent{
		width: 95%;
		display: block;
		margin: 0 auto;
		float: none;
	}
}

@media (max-width: 769px){
	#wtd-navigator .wtd_parent_menu li{
		width:47%;
	}
	#wtd-navigator .wtd_contents ul li{
		width:44%;
	}
}
@media (max-width: 680px){
	.wtd-listing-page .site-logo{
		margin-top: 0px;
		margin-left: 10px;
		width: 80%;
		float:left;
	}
	#wtd_listing_sc_container .wtd_listing_sc_listing_list .wtd_listing_sc_top_content{
		display: block;
		width: 97%;
		margin: 10px auto;
	}
	#wtd_listing_sc_container .wtd_listing_sc_listing_list{
		margin:0px;
	}
}
@media (max-width: 580px){
	#wtd-navigator .wtd_parent_menu li{
		width:96%;
		text-align:center;
	}
	#wtd-navigator .wtd_parent_menu{
		max-height:145px;
		overflow-x: hidden;
		overflow-y:auto;
		margin:0px;
		margin-top:30px;
	}
	#wtd-navigator .wtd_contents ul li{
		width:100%;
		text-align:center;
	}

}

.wtd_listing_title_bar{
	text-align:center;
} 
