.wtd_search_form {
    float: left;
    width: 98%;
    padding: 1%;
    display: inline-block;
    position:relative;
}

.wtd_search_input {
    float: left;
    width: 50%;
    padding: 0px 0px 0px 10px;
    height: 35px;
    border-radius: 3px;
}

.wtd_search_form select {
    float: left;
    margin-left: 1%;
    width: 30%;
    height: 40px;
    padding: 1%;
    background: white;
    border-radius: 3px;
}
.wtd_search_suggestions {
    position: absolute;
    top: 45px;
    border: 4px solid rgba(0, 0, 0, 0.48);
    width: 400px;
    max-width:80vw;
    padding: 10px;
    background: #fff;
}

.wtd_suggestion_category {
    margin-top: 7px;
    padding: 1%;
    float: left;
    width: 98%;
    display: inline-block;
}

.wtd_suggestion_category:first-child {
    margin-top: 0px;
}

.wtd_suggestion_item.wtd_suggestion_title {
    color: #000;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: bold;
}

.wtd_suggestion_item a {
    text-decoration: none;
    float: left;
    width: 98%;
    display: inline-block;
    color: #000;
    font-size: 14px;
    padding: 3px 0px 3px 2%;
}

.wtd_suggestion_item {
    float: left;
    width: 100%;
    display: inline-block;
}

.wtd_suggestion_item small {
    color: rgb(166, 166, 166);
}

.wtd_suggestion_item a:visited {
    color: #000;
}

.wtd_suggestion_item a:hover {
    background: rgba(0, 0, 0, 0.63);
    color: #fff;
}

.wtd_search_suggestions{
    display:none;
    z-index:999;
}

.wtd_all_results {
    float: left;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.61);
    color: #fff;
    padding: 15px 0px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.wtd_all_results:hover {
    color: #fff;
    background: #000;
}

.wtd_search_button,.wtd_search_button:hover {
    float: left;
    margin-left: 1%;
    width: 10%;
    background: black;
    color: #fff;
    font-weight: bold;
    padding: 9px 0px;
    text-align: left;
    border:none !important;
}

.wtd_search_button img {
    width: 20px;
    height: 20px;
    box-shadow: none;
    border: none;
    padding-top: 1px;
    float: left;
    margin-left: 14%;
}
.wtd_search_button span {
    margin-top: 3px;
    float: left;
}