.wtd_admin label{
	font-weight:bold;
}

#wtd_metabox_content .select2-container{
	width:70%;
}
#wtd_metabox_content .select2-input {
	width:100% !important;
}
#wtd_metabox_content .wtd_aprovider_option{
	display:none;
}
#wtd_metabox_content .child_container{
	display:none;
}

#wtd_metabox_content .child_container hr{
	clear:both;
	margin:15px 2%;
	width:96%;
	float:left;
}
#wtd_metabox_content .wtd_cat_disabler{
	float:none;
}

#wtd_metabox_content{
	display:none;
	padding:20px 0px;
	margin-top:10px;
}

#enable_wtd_page{
	float: left;
	margin: 4px 10px;
}

.wtd_admin .ui-tabs-nav li a{
	cursor:pointer !important;
}

#wtd_metabox_content .wtd_button_grid .button i{
	float:left;
	width:10%;
	margin-top:6px;
	margin-left:2%;
}
#wtd_metabox_content .wtd_button_grid .button span{
	width:88%;
	overflow-x:hidden;
	float:left;
}
.wtd_admin .wtd_button_grid .button{
	float:left;
	width:29%;
	margin:5px 2%;
}

/*
.wtd_admin*/

.wtd_admin .wtd_children{
	display:none;
}
