#wtd_listing_sc_container .wtd_single_listing_container {
    width: 100%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    line-height: 25px;
    background-color: #fff;
}
#wtd_listing_sc_container .wtd_single_listing_sc_left_content ul li .print a {
    float: none;
    width: 50px;
    text-align: center;
    padding: 3px;
    margin: 10px 0;
}
#wtd_listing_sc_container .wtd_single_listing_container ul {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
#wtd_listing_sc_container .wtd_single_listing_container ul li {
    list-style: none;
    line-height: 15px;
    margin-bottom: 10px;
    background: none;
}
#wtd_listing_sc_container .wtd_single_listing_container ul li:first-child {
    line-height: 18px;
    margin-top: 5px;
}
#wtd_listing_sc_container .wtd_single_listing_sc_image {
    display: block;
    max-width: 120px;
    max-height: 120px;
    margin: 10px auto 10px;
    line-height: 118px;
}
#wtd_listing_sc_container .wtd_single_listing_sc_image img {
    max-height: 100px;
    max-width: 118px;
    margin: 0 auto;
}
#wtd_listing_sc_container .wtd_single_listing_sc_image {
    width: 90%;
    margin: 0 auto;
    height: 160px;
}
#wtd_listing_sc_container .wtd_single_listing_sc_left_content {
    /*float: left;*/
    /*width: calc(100% - 150px);*/
    /*padding: 0px !important;*/
    width: 90%;
    /*margin-left:5px;*/
    margin: 0 auto;
}
#listing_gallery_container{
    width: 100%;
    height: 340px;
    margin-top: 10px;
    text-align: center;
}

.wtd_listing_gallery_img{
    margin: 10px auto;
    max-height: 300px;
    max-width: 400px;
}

#listing_gallery_thumbs_viewport{
    height: 75px;
    max-width: 100%;
    margin: 10px auto;
    overflow-x: auto;
}

#listing_gallery_thumbs{
    height: 50px;
    margin: 0 auto;
}

.wtd_listing_gallery_thm{
    float: left;
    margin-right: 5px;
    max-width: 50px;
    max-height: 50px;
}
#wtd_listing_sc_container .wtd_listing_sc_listing_list{
    display: block;
    margin: 10px;
    float: left;
    width: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 900px){
    #wtd_listing_sc_container .wtd_single_listing_sc_image{
        display: block;
        width: 100%;
        max-width: 300px;
        text-align: center;
        height: 120px;
        margin:10px auto;
        line-height: 118px;
    }

    #wtd_listing_sc_container .wtd_single_listing_sc_image{
        width: 100%;
        height: 160px;
    }

    #wtd_listing_sc_container .wtd_listing_sc_centerContent, #wtd_listing_sc_container .wtd_single_listing_sc_left_content{
        width: 100%;
    }

    .wtd_listing_gallery_img{
        max-width: 300px;
        width: 100%;
    }
}