html {
    background: none !important;
}

#wtd-service-filters.main_bg{
	width:100%;
	overflow:hidden;
	border:1px solid #666666;
	background: #ebeced;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebeced), to(#fefefe)); /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #fefefe, #ebeced); /* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #fefefe, #ebeced); /* IE 10 */
	background: -ms-linear-gradient(top, #fefefe, #ebeced); /* Opera 11.10+ */
	background: -o-linear-gradient(top, #fefefe, #ebeced);
}

#wtd-service-filters .fleft{
	float:left;
}

#wtd-service-filters .fright{
	float:right;
}

#wtd-service-filters .clear{
	clear:both;
}

#wtd-service-filters .fleft h3{
	color:#858585;
	font-size:15px;
	line-height:30px;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

#wtd-service-filters .m0{
	margin-bottom:0 !important;
}

#wtd-service-filters .white_bg{
	width:100%;
	border:1px solid #666666;
	background-color: #fff;
	overflow:hidden;
	margin-bottom:20px;
}

#wtd-service-filters .green_bg{
	background-color:#99a47b;
	color:#ffffff;
}

#wtd-service-filters .bor-bottom{
	border-bottom:1px solid #666666;
}

#wtd-service-filters .bor-top{
	border-top:1px solid #666666;
}

#wtd-service-filters .btn02-wrap{
	border-radius: 4px 4px 4px 4px;
	display: inline-block;
	overflow: hidden;
	margin:0 5px;
}

#wtd-service-filters .btn02-wrap.btn02{
	border: medium none;
	cursor: pointer;
	display: block;
	font: bold 12px Arial, sans-serif;
	outline: 0 none;
	margin:1px 0 0;
	padding: 5px 12px 6px;
	text-decoration: none;
}

#wtd-service-filters .btn02-wrap.btn02:hover{
	color: #FFFFFF;
}

#wtd-service-filters .btn02-wrap.green{
	border: 1px solid #202e0d;
	/* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 #a4b169 inset, 0 2px 0 #30986B inset; */
}

#wtd-service-filters .btn02-wrap.green.btn02{
	background: #253e14;
	color: #FFFFFF;
	text-transform:uppercase;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#253e14), to(#a4b169)); /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #a4b169, #253e14); /* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #a4b169, #253e14); /* IE 10 */
	background: -ms-linear-gradient(top, #a4b169, #253e14); /* Opera 11.10+ */
	background: -o-linear-gradient(top, #a4b169, #253e14);
}

#wtd-service-filters .btn02-wrap.brown{
	border: 1px solid #290706;
	/* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 #bc9061 inset, 0 2px 0 #30986B inset; */
}

#wtd-service-filters .btn02-wrap.brown.btn02{
	background: #4e0b05;
	color: #FFFFFF;
	text-transform:uppercase;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e0b05), to(#b18554)); /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #b18554, #4e0b05); /* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #b18554, #4e0b05); /* IE 10 */
	background: -ms-linear-gradient(top, #b18554, #4e0b05); /* Opera 11.10+ */
	background: -o-linear-gradient(top, #b18554, #4e0b05);
}

#wtd-service-filters .chooseSection ul{
	line-height:none;
	margin:0;
	padding:0;
	overflow-x:auto;
	max-height:250px;
}

#wtd-service-filters .chooseSection ul li{
	float:left;
	margin:0;
	padding:0;
	width:250px;
	height:20px;
	overflow:hidden;
}

#wtd-service-filters .chooseSection ul li label{
	display:block;
	min-width:50px;
	float:left;
	padding-left:10px;
}

#wtd-service-filters .chooseSection ul li input[type="checkbox"]{
	float:left;
	cursor:pointer;
}

#wtd-service-filters .main_bg_child{
	margin:20px;
}

#wtd-service-filters .overflow-hidd{
	overflow:hidden;
}

#wtd-service-filters .white_bg_child_head{
	padding:8px 14px;
	overflow:hidden;
}

#wtd-service-filters .select-all{
	float:left;
}

#wtd-service-filters .deselect-all{
	float:left;
	margin-left:5px !important;
}